html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

#driver-list {
    font-family: Menlo, Consolas, monospace;
}

.row-odd {
    background-color: azure;
}

.row-even {
    background-color: aquamarine;
}